doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title SAFE Ambition | More Than Music
    meta(name='description', content='SAFE Ambition - a youth project based in Manchester')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(href='https://fonts.googleapis.com/css?family=Lobster+Two|Lato|PT+Serif', rel='stylesheet', type='text/css')
    link(rel="stylesheet", type="text/css", href="assets/animate.min.css")
    link(rel="stylesheet", href="style.css")
  body
    span.overlay
    .center
      .title
        h1 SAFE Ambition
        h3 More Than Music
    .social
      a(href="https://www.facebook.com/safe.gorton" class="facebook social")
        i.icon-social-facebook
      a(href="https://twitter.com/SAFEGorton" class="twitter social")
        i.icon-social-twitter
      a(href="https://www.youtube.com/user/SAFEgorton" class="youtube social")
        i.icon-social-youtube
      
